<link rel="stylesheet" href="~/Content/StyleSheet.css" />

@{
    ViewBag.Title = "About";
}

<div class="banner">
    <div class="banner-content">
        <h2><b>About</b></h2>
    </div>
</div>








@section Scripts {
    @Scripts.Render("~/bundles/Customjquery")
    @Scripts.Render("~/bundles/jqueryval")

}
